#MiCongreso{
	margin-left:9px;
	height: 30px;
	max-height:32px;
}
#MiCongreso:active{
	height: 32px;
	margin-left:8px;
}
#header{
	overflow: visible !important;
}
.icoco{
	max-height: 50px;
	margin-bottom:8px;
}
.caja{
	margin:0;
	border: 0;
	padding: 0;
}
.itema{
	border-radius: 3px;
	height: 88px;
	padding-top: 10px;
	width: 88px;
	border: 1px solid #E6E7E8;
	margin: 0;
	display: inline-block;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color:#404040;
}
.itema:hover{
	border: 1px solid #CBCBCB;
}
.linkli{
	border:0 !important;
	text-decoration: none;
}
.itemas{
	padding: 0;
	white-space:normal;
	margin:0;
	text-align: left;
	display: block;
}
/*
.home{
	background: #1CDCFF;
}
*/
