@import url(http://fonts.googleapis.com/css?family=Satisfy);

.tooltip ,.tooltip-click{
	display: inline;
	position: relative;
	z-index: 999;
}

.tooltip-click::after {
	pointer-events: auto;
}

/* Gap filler */
.tooltip::after, .tooltip-click::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	top: -100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

}

/* Tooltip todo el contenido*/

.tooltip .tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 500px;
	left: 50%;
	top: 100%;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	font-weight: 400;
	color: #fffaf0;
	background: transparent;
	opacity: 0;
	margin: 20px 0 20px -246px;
	cursor: default;
	pointer-events: none;
	font-family: 'Satisfy', cursive;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.tooltip-click .tooltip-content {
	
	position: absolute;
	z-index: 9999;
	width: 500px;
	left: 50%;
	top: 100%;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	font-weight: 400;
	color: #fffaf0;
	background: transparent;
	margin: 20px 0 20px -246px;
	cursor: default;
	font-family: 'Satisfy', cursive;
	-webkit-font-smoothing: antialiased;
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.tooltip .tooltip-content span, .tooltip-click .tooltip-content span {
	display: block;
}

.tooltip .tooltip-text {
	border-top: 10px solid #ED1D24;/*raya blanca que se abre*/
	overflow: hidden;
	box-shadow: 0px 0px 5px #fff;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.tooltip-click .tooltip-text {
	border-top: 10px solid #ED1D24;/*raya blanca que se abre*/
	overflow: hidden;
	box-shadow: -1px 1px 5px #aaa;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tooltip .tooltip-inner {
	border-top:20px;
	background: #E6E7E8;
	padding: 10px 15px;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip-click .tooltip-inner {
	border-top:15px;
	background: #E6E7E8;
	padding: 10px 15px;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* triangulito */

.tooltip .tooltip-content::after,.tooltip-click .tooltip-content::after {
	content: '';
	top: -20px;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-bottom-color: #ED1D24;
	border-width: 10px;
	margin-left: -10px;
}